@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme {
  --color-base-black : #1a1a1a
}